.sidebar-wrapper{
    position: fixed;
    height: 100%;
    width: 20%;
    left: 0;
    top: 0;
    background-color: #d44179;
}

.logo{
    margin-top: 1em;
    text-align: center;
}

.logo img{
    height: 100px;
}

.cotitle{
    text-align: center;
    padding-bottom: 1em;
    //padding: 1em 0em 1em 0.8em;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 1.5em;
    color: white;
}

.profile-element{
    background-color: rgb(154, 44, 85);
    color: white;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 30px;
    margin-bottom: 1em;
}

.profile-element-name{
    padding: 0.2em;
}

.other-element{
    //background-color: rgb(154, 44, 85);
    padding-left: 2em;
    color: white;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 1em;
}

.other-element a{
    color: white;
    text-decoration: none;
}

.other-element i{
    padding-right: 0.3em;
}

.main-body{
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    padding: 5% 0% 0% 25%;
}

.pagetitle{
    font-size: 2em;
    text-decoration: underline dotted;
}

.addform{
    width: 30em;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.addform input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.addform select {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    width: 100%;
    font-family: inherit;
    font-size: 0.95em;
}

.addform input[type="email"],
.addform input[type="password"] {
    background: #fff;
}

/* Text fields' focus effect */
.addform input[type="email"]:focus,
.addform input[type="password"]:focus {
    border-color: #888;
}

.addform input[type="submit"] {
    background: #28d;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

.addform button {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
    background: #d44179;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

.addform input[type="submit"]:hover {
    background: #17c;
}

.addform input[type="submit"]:focus {
    border-color: #05a;
}


.view-users table,th{
    border: 3px solid black;
    border-collapse: collapse;
    width: 100%;
    height: 50px;
}

.view-users table{
    width: 95%;
    margin-top: 2em;
}

.view-users th{
    border: 3px solid black;
    border-collapse: collapse;
    width: 100%;
    height: 50px;
    font-size: 20px;
    background: #8ec0ff;
}

.view-users td{
    border: 1px solid black;
    border-collapse: collapse;
    height: 50px;
    text-align: center;
}

//.userfilter{
//    padding-top: 10px;
//    width: 100%;
//    padding: 10px;
//}
//.gone {
//    width: 25%;
//    //height: auto;
//    //float: left;
//}
//.gtwo {
//    width: 25%;
//    //height: auto;
//}

.userfilter {
    width: 100%;
    //height: 200px;
    margin: auto;
     padding: 10px;
}
.gone {
    width: 30%;
    //height: 200px;
    float: left;
}
.gtwo {
    margin-left: 10%;
    width: 30%;
    float: right;
}

.gthree{
    margin-left: 10%;
    width: 15%;
}

.userfilter select {
    //display: block;
    box-sizing: border-box;
    display: block;
    width: 20%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    width: 80%;
    font-family: inherit;
    font-size: 0.95em;
}
